body {
  font-family: 'Times', serif;
  font-weight: 300;
  color: maroon;
  padding-top: 50px;
}

#gamesCarousel {
  margin-left: -20px;
  margin-right: -20px;
  min-width: 100%;
}

.menu-btn {
  font-size: 16px;
  text-transform: lowercase;
  text-align: right;
  padding-left: 50px;
}

.navbar-brand {
  font-size: 22px;
}

.dropdown-menu {
  background: #e0e0e0;
  text-transform: none;
}

.dropdown-menu-item {
  padding: 20px;
  font-size: 16px;
}

.text-muted {
  color: #BCBBBB;
}

.text_thin {
  font-weight: 100;
}
