<!DOCTYPE html>

<html>
  <head>
    <%- include('header') %>
  </head>
  <body>
    <%- include('menu') %>
      <script>$('#about').addClass('active');</script>
    <%- include('carousel') %>

    <h3>About</h3>
    <p>Place about content here.</p>

    <%- include('footer') %>
  </body>
</html>
