<!DOCTYPE html>

<html>
  <head>
    <%- include('header') %>
  </head>
  <body>
    <%- include('menu') %>
      <script>$('#about').addClass('active');</script>
    <%- include('carousel') %>

    <div class="container content">
      <h1>About</h1>
      <p>Place about content here.</p>
    </div>

    <%- include('footer') %>
  </body>
</html>
