<!DOCTYPE html>

<html>
  <head>
    <%- include('header') %>
  </head>
  <body>
    <%- include('menu') %>
      <script>$('#about').addClass('active');</script>
    <%- include('carousel') %>

    <div class="container content">
      <h1>About Us</h1>
      <div class="horiz-line"></div>
      <p>Clever Devil Games is comprised of four game-loving individuals devoted to using their skills to create unique and fun games for board game lovers across the country.</p>
    </div>

    <%- include('footer') %>
  </body>
</html>
