<div class="visible-sm-block visible-md-block visible-lg-block container">
  <div id="gamesCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#gamesCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#gamesCarousel" data-slide-to="1"></li>
      <li data-target="#gamesCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <a href="/ninjas" class="item active">
        <img src="images/ninjas_carousel.jpg" alt="Flippin' Ninjas">
        <div class="carousel-caption carousel-text banner-text">
          <h2>Flippin' Ninjas</h2>
        </div>
      </a>

      <a href="/dragonhoard" class="item">
        <img src="images/dragonhoard_carousel.jpg" alt="Dragon Hoard">
        <div class="carousel-caption carousel-text banner-text">
          <h2>Dragon Hoard</h2>
        </div>
      </a>

      <a href="/cardfight" class="item">
        <img src="images/cardfight_carousel.jpg" alt="Card Fight">
        <div class="carousel-caption carousel-text banner-text">
          <h2>Card Fight</h2>
        </div>
      </a>
    </div>

    <!-- Left and Right controls -->
    <a class="left carousel-control" href="#gamesCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#gamesCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
