<!DOCTYPE html>

<html>
  <head>
    <%- include('header') %>
  </head>
  <body>
    <%- include('menu') %>
      <script>$('#contact').addClass('active');</script>
    <%- include('carousel') %>

    <div class="container content">
      <div class="col-md-5">
        <h1>Contact Us</h1>
        <h4><a href="mailto:support@cleverdevilgames.com">support@cleverdevilgames.com</a></h4>
      </div>

      <div class="col-md-7">
        <div class="vert-line visible-md-block visible-lg-block"></div>
        <h4>
          Please do not hesitate to contact us with any questions or concerns.
        </h4>
      </div>
    </div>

    <%- include('footer') %>
  </body>
</html>
