<div class="container footer">
  <div class="col-md-12 pull-right">
    <h3>Contact Us</h3>
    <h4><a href="mailto:support@cleverdevilgames.com" target="_top">support@cleverdevilgames.com</a></h4>
  </div>
</div>
