<!DOCTYPE html>

<html>
  <head>
    <%- include('header') %>
  </head>
  <body>
    <%- include('menu') %>
      <script>$('#games').addClass('active');</script>

    <div class="container content">

      <div class="row" style="background-image:url('http://cleverdevilgames.com/images/ninjas_carousel.jpg');">
        <a href="ninjas" role="button" class="btn game game-text-right">
          <div class="col-md-8"></div>
          <div class="col-md-4" style="color:white;">
            <h1 class="pull-right">Flippin' Ninjas</h1>
            <h4 class="pull-right">
              Live on Kickstarter!  Place your ninja tiles strategically to flip, swap, and score your way to victory!  But tread lightly- Your own tiles can be used against you if you aren't careful...
            </h4>
          </div>
        </a>
      </div>

      <hr>

      <div class="row" style="background-image:url('http://cleverdevilgames.com/images/dragonhoard_carousel.jpg');">
        <a href="dragonhoard" role="button" class="btn game game-text-left">
          <div class="col-md-4" style="color:white;">
            <h1 class="pull-left">Dragon Hoard</h1>
            <h4 class="pull-left">Adventure into the dragon's lair with your party to fight monsters and score fat loot.  Work with your party to keep the dragon asleep, or cash out early and make a ruckus to catch the rest of your party unaware!</h4>
          </div>
          <div class="col-md-8">
          </div>
        </a>
      </div>

      <hr>

      <div class="row" style="background-image:url('http://cleverdevilgames.com/images/cardfight_carousel.jpg');">
        <a href="cardfight" role="button" class="btn game game-text-right">
          <div class="col-md-8"></div>
          <div class="col-md-4" style="color:white;">
            <h1 class="pull-right">Card Fight</h1>
            <h4 class="pull-right">Battle other warriors in an arena by chasing them down and playing attack cards.  Or hold off and let your opponents beat each other to death.</h4>
          </div>
        </a>
      </div>

    </div>

    <%- include('footer') %>
  </body>
</html>
