<script src="js/jquery-1.12.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Voltaire|IM+Fell+Double+Pica+SC' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">

<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= page %> | Clever Devil Games</title>
