<script src="js/jquery-1.12.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">

<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= page %> | Clever Devil Games</title>
