<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Clever Devil Games</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav pull-right">
        <li id="home" class="menu-btn"><a href="/">Home</a></li>
        <li id="games" class="dropdown menu-btn">
          <a class="dropdown-toggle" href="/games">
            <span class="caret"></span>
            Games
          </a>
          <ul class="dropdown-menu">
            <li><a href="/ninjas">Flippin' Ninjas</a></li>
            <li><a href="/dragonhoard">Dragon Hoard</a></li>
            <li><a href="/cardfight">Card Fight</a></li>
          </ul>
        </li>
        <li id="about" class="menu-btn"><a href="/about">About</a></li>
        <li id="contact" class="menu-btn"><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
