<!DOCTYPE html>

<html>
  <head>
    <%- include('header') %>
  </head>
  <body>
    <%- include('menu') %>
      <script>$('#news').addClass('active');</script>
    <%- include('carousel') %>

    <div class="container content">
      <h1>News</h1>
      <div class="horiz-line"></div>
      <p>Import news articles from database.</p>
    </div>

    <%- include('footer') %>
  </body>
</html>
