body {
  font-family: 'Voltaire', sans-serif;
  padding-top: 50px;
  background: #e0e0e0;
}

#gamesCarousel {
  margin-left: -15px;
  margin-right: -15px;
  min-width: 100%;
}

.menu-btn {
  font-size: 16px;
  text-transform: lowercase;
  text-align: right;
  padding-left: 50px; }

.content {
  background: white;
  padding: 50px;
}

.footer {
  background: black;
}

.vert-line {
  width: 1px;
  background-color: #c0c0c0;
  height: 100px;
  float: left;
  margin-right: 100px;
}

.navbar-brand {
  font-size: 22px; }

.dropdown-menu {
  background: #e0e0e0;
 }

@media (min-width: 768px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

.dropdown-menu-item {
  padding: 20px;
  font-size: 16px; }

.game {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 500px;

}

.game-text-right {
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
}

.game-text-left {
  background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));

}

.text-muted {
  color: #BCBBBB; }

.pull-left {
  text-align: left;
  white-space: normal;
}

.pull-right {
  text-align: right;
  white-space: normal;
}

.carousel-text {
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.75) 15%, rgba(0,0,0,.75) 75%, rgba(0,0,0,0));
  background: -webkit-radial-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.75) 15%, rgba(0,0,0,.75) 75%, rgba(0,0,0,0)); /* Safari */
  background: -o-radial-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.75) 15%, rgba(0,0,0,.75) 75%, rgba(0,0,0,0)); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.75) 15%, rgba(0,0,0,.75) 75%, rgba(0,0,0,0)); /* Firefox 3.6 to 15 */
  background: radial-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.75) 15%, rgba(0,0,0,.75) 75%, rgba(0,0,0,0)); /* Standard syntax */
}
